:root {
    --primary-color: #f10606;

    --accent1-color: #264653;

    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    font-size: 20px;
}

header,
main,
footer {
    width: 1024px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 4rem;
    height: 4rem;

}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 2em;
    width: 100%;
    background-color: #6d6464c5;
    text-align: center;
    padding: 2rem 0;
}

.hero article {
    position: absolute;
    top: 10em;
    left: 2em;
    right: 2em;
    background-color: #c2e404da;
}

.hero article img {
    float: right;
    width: 100px;
}